a[href^="http://"], a[href^="https://"] {
  background: url("link-external.png") center right no-repeat;
  padding-right: 13px;
}

.candidate {
    min-height: 320px;
}

.candidate img {
  max-width: 150px;
  max-height: 180px;
}

.chart {
  height: 250px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.piechart {
  height: 500px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.chart-container {
  box-sizing: border-box;
  padding: 20px 15px 15px 15px;
  border: 1px solid #ddd;
  background: #fff;
  background: linear-gradient(#f6f6f6 0, #fff 50px);
  background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.legendLabel {
  padding-left: 5px;
}

#footer {
  margin-top: 10px;
}

#center{
  padding-right: 60px;
  position: relative;
  text-align: center;
  font-size: 60px;
  top: -250px;
  vertical-align: middle;
  margin: 0 auto;
  margin-top: -35px;
}

@media screen and (max-width: 620px) {
  #center {
    padding-right: 30px;
  }
}

@media screen and (max-width: 600px) {
  #center {
    padding-right: 0;
  }
}

@media screen and (max-width: 350px){
  #center {
    font-size: 30px;
    margin-top: -20px;
  }
}

@media screen and (max-width: 400px) {
  .piechart {
    height: 400px;
  }

  #center {
    top: -200px;
  }
}

@media screen and (max-width: 300px) {
  .piechart {
    height: 300px;
  }

  #center {
    top: -150px;
  }
}